body {
    background-color: #ea4;
    
}

.flex-container {
    display: flex;
    justify-content: center;
}
.flex-container > div {
    margin: 2em 3em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10,20px);
    grid-template-rows: repeat(10,20px);
}

.grid-container > div {
    border: solid 1px;
}

div.black {
    background-color: #000;
}
div.hit {
    background-color: #f48;
}
div.empty-hit {
    background-color: #38f;
}