@import "config";

body {
  background-color: $primary-color;
  color: $primary-text-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #932;

  h1 {
    padding: 2rem 0;
  }
}

main {
  padding: 1rem 0;
}

ul {
  h2 {
    padding: 1rem 0;
  }

  li {
    padding: 0.25rem 0;
  }
}

.main-frame {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 8.3%);
  grid-template-rows: repeat(10, 10%);
  gap: 10px;

  > .player-container.one {
    grid-column: 2 / span 2;
    grid-row: 2 / span 5;
  }

  > .player-container.two {
    grid-column: 5 / span 2;
    grid-row: 2 / span 5;
  }

  > .button-container {
    grid-column: 2 / span 5;
    grid-row: 7 / span 1;
  }

  > .rules-container {
    grid-column: 9 / span 3;
    grid-row: 2 / span 8;
  }

  > .preparation-board {
    grid-column: 2 / span 3;
    grid-row: 9 / span 2;
  }
}

.player-container {
  h3 {
    padding: 1rem 0;
  }
}

.game-board {
  &__drop-zone {
    border: solid 1px;
    background-color: #ddd;
  }

  > .ship-present {
    &.--visible {
      background-color: #000;
    }
    &.--hit {
      background-color: $target-hit-color;
    }
    &--false {
      background-color: $missed-hit-color;
    }
  }
}

.user-board {
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  padding: 10px 50px;
}

.dragged-ship {
  display: flex;
  width: fit-content;
  border: solid 1px #000;
  border-radius: 3px;
  margin: 2px 0;

  &__square {
    width: 15px;
    height: 15px;
    margin: 2px 2px;
    background-color: #000;
  }
}

.button-container {
  text-align: center;
}

.button-container.hidden {
  display: none;
}
